.address div:first-child {
    padding-left: 3px;
}

.address div:last-child {
    padding-right: 0px;
}

.pro_userbar {
    position: relative;
    background-color: #eeeeee;
    padding: 10px;
}

.pro_avatar {
    margin-top: -60px;
    padding-left: 30px;
}

.pro_avatar--size {
    height: 100px;
    margin: 0;
}

.pro-tabs {
    margin-top: 50px;
}

.pro_user-info {
    font-size: 25px;
    padding-left: 20px;
}

.pro_social-icons {
    padding-top: 6px;
    height: 30px;
}

.footer {
    margin-top: 100px;
}
