{% extends 'base.html.twig' %}
{% block title %}Liste des services{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="background-white p30 mb50">
            <div class="cards-system">
                {% include 'admin/categories/partials/_list.html.twig' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
