{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Toutes les promotions de {{ user.name }}</h1>
            {% include 'pro_member/partials/_sales.html.twig' %}
        </div>
    </div>
{% endblock %}
