{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Ajouter une promotion</h1>

            {{ form_start(form, {'attr': {'class': 'form'}}) }}
            {% include 'sale/partials/_form.html.twig' %}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
