<header class="navbar navbar-static-top navbar-default">
    <div class="container">
        <div class="row">
            <nav>
                <ul class="nav navbar-nav">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/">À propos</a></li>
                    <li><a href="/">Partenaire</a></li>
                    <li><a href="/">Par région</a></li>
                    <li><a href="/">Stages</a></li>
                    <li><a href="/">Contact</a></li>
                </ul>
            </nav>
            <p class="navbar-right navbar-btn"><a href="/register" class="btn btn-success">S'inscrire</a></p>
        </div>
    </div>
</header>
