<ul class="list-group">
    {% for user in users %}
        <li class="list-group-item">
            <span class="badge">{{ user.city }}</span>
            <a href="{{ path('pro_user_profile', {'slug': user.slug }) }}">{{ user.name }}</a>
        </li>
    {% endfor %}
</ul>
