<form>
    <div class="form-group">
        <label for="name" class="sr-only">Prestataire</label>
        <input placeholder="Prestataire" type="text" class="form-control input-lg" id="name">
    </div>
    <div class="form-group">
        <select name="region" class="form-control input-lg" id="">
            <option>Liège</option>
        </select>
    </div>
    <div class="form-group">
        <select name="type" class="form-control input-lg" id="">
            <option>Massage</option>
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-success input-lg">Rechercher</button>
    </div>
</form>
