<ul class="list-group">
    <li class="list-group-item">
        <span class="badge">Liège</span>
        Lorem ipsum.
    </li>
    <li class="list-group-item">
        <span class="badge">SPA</span>
        Lorem ipsum.
    </li>
    <li class="list-group-item">
        <span class="badge">Bruxelles</span>
        Lorem ipsum.
    </li>
    <li class="list-group-item">
        <span class="badge">Anwers</span>
        Lorem ipsum.
    </li>
    <li class="list-group-item">
        <span class="badge">Bruge</span>
        Lorem ipsum.
    </li>
    <li class="list-group-item">
        <span class="badge">Namur</span>
        Lorem ipsum.
    </li>
</ul>
