{% extends 'base.html.twig' %}
{% block title %}À propos de nous{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>À propos de nous</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad corporis dicta explicabo fugit nobis quo, repudiandae. A architecto at doloribus natus nobis quam quisquam sit vel! Ab dolore eos illum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, atque, esse. Aliquam aliquid architecto consequuntur dolore eveniet, ex in laudantium maxime natus nobis omnis, pariatur porro quam quidem reprehenderit temporibus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eos laudantium molestias reprehenderit vero? Ad exercitationem magnam quibusdam? Blanditiis eaque, eius illo magni maxime mollitia nulla suscipit. Dolorem, eum, mollitia!</p>
    </div>
</div>
{% endblock %}

