{% extends 'base.html.twig' %}
{% block title 'La liste de tous les stages' %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for stage in workshops %}
            {% include 'workshop/partials/_workshops.html.twig' with {'user': stage.user} %}
            {% endfor %}
        </div>
    </div>
{% endblock %}



