{% extends 'admin/base.html.twig' %}
{% block body %}
<h3>Statistiques</h3>
<div class="row">
    <div class="col-sm-3">
        <div class="statusbox">
            <h2>Prestataires</h2>
            <div class="statusbox-content">
                <strong>{{ proMembers | length }}</strong>
                <span>Total des prestataires</span>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="statusbox">
            <h2>Membres</h2>
            <div class="statusbox-content">
                <strong>{{ members | length }}</strong>
                <span>Total des membres</span>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="statusbox">
            <h2>Stages</h2>
            <div class="statusbox-content">
                <strong>{{ workshops | length }}</strong>
                <span>Total des stages</span>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="statusbox">
            <h2>Promotions</h2>
            <div class="statusbox-content">
                <strong>{{ workshops | length }}</strong>
                <span>Total des promotions</span>
            </div>
        </div>
    </div>
</div>
<h3>Derniers inscrits</h3>
<div class="row">
    <div class="col-sm-6">
        <div class="users">
            <h2>Membres</h2>
            {% include 'admin/users/_partials/members.html.twig' with {'count': 4} %}
        </div>
    </div>
    <div class="col-sm-6">
        <div class="users">
            <h2>Prestataires</h2>
            <div class="statusbox-content">
                <table class="table">
                    <tbody>
                    {% include 'admin/users/_partials/pro-members.html.twig' with {'count': 4} %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
{% endblock %}