<div class="panel panel-primary">
    <div class="panel-heading">Newsletter</div>
    <div class="panel-body">
        {% if user.subscribed %}
        <button class="btn btn-danger" id="unsubscribe">Se désinscrire</button>
        {% else %}
        <button class="btn btn-primary" id="subscribe">S'inscrire</button>
        {% endif %}
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">Liste des prestataires favoris</div>
    <div class="panel-body">
        <ul class="list-group">
        {% for favorite in user.favorites %}
            <li class="list-group-item">
                <a href="{{ path('user_profile', {'slug': favorite.proMember.slug}) }}" title="">{{ favorite.proMember.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
