{% extends 'base.html.twig' %}
{% block title %}Liste des services{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% for category in categories %}
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="{{ path('service_show', {'slug': category.slug}) }}">{{ category.name }}</a>
                                </h4>
                                <p>{{ category.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
