{% extends 'base.html.twig' %}
{% block title 'Liste de toutes les newsletters' %}

{% block body %}
<div class="container">
    <div class="row">
        {% include ':newsletter/partials:_list.html.twig' %}
    </div>
    <div class="row">
        <div class="navigation">
            {{ knp_pagination_render(newsletters) }}
        </div>
    </div>
</div>
{% endblock %}
