{% extends 'base.html.twig' %}

{% block title %}Liste de prestataires{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% include 'pro_member/partials/_users.html.twig' %}
    </div>
</div>
{% endblock %}

