<h1>Catégories</h1>
{% for cat in user.categories %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{{ cat.name }}</h2>
        </div>
        <div class="panel-body">
            {{ cat.description }}
        </div>
    </div>
{% endfor %}
