<h1>Catégories</h1>
{% for cat in user.categories %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="lead">{{ cat.name }}</span>
        </div>
        <div class="panel-body">
            {{ cat.description }}
        </div>
    </div>
{% endfor %}
